::-webkit-scrollbar {
  /* display: none; */
  width: 5px;
}

/* 長條 */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
  background: #111;
}

/* 短條 */
::-webkit-scrollbar-thumb {
  background: #00ffff;
  border-radius: 10px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(210, 121, 121);
}
