.vw25 {
  min-width: 25vw;
}

.vw35 {
  min-width: 35vw;
}

.vw50 {
  min-width: 50vw;
}

.vw75 {
  min-width: 75vw;
}

.vw85 {
  min-width: 85vw;
}

.vw100 {
  min-width: 100vw;
}

.vw150 {
  min-width: 150vw;
}
