.uk-subnav-pill > .uk-active > a {
  background-color: #365a97 !important;
  color: #fff !important;
  font-weight: bold;
}

.uk-subnav-pill > * > a:focus,
.uk-subnav-pill > * > a:hover {
  background-color: #365a97 !important;
  color: #fff !important;
}

/* uk-tab  --------------------------------- */
/* switch uk-tab 調整 */
.uk_set .uk-tab > .uk-active > a {
  color: #000;
  border-color: #365a97;
  border-width: 0.3rem;
}
/* uk-tab END  --------------------------------- */

/* uk-subnav-pill  --------------------------------- */
/* switch 調整 正確用最外層id控制 */
/* active 啟動 調整 */
.uk_set .uk-subnav-pill > .uk-active > a {
  background-color: #365a97 !important;
  color: #fff !important;
  font-weight: bold;
}

/* 未設定調整 */
.uk_set .uk-subnav-pill > li > a {
  background-color: #fff;
  border: 1px solid #555;
  color: #555;
  font-weight: bold;
}
/* hover 調整 */
.uk_set .uk-subnav-pill > * > a:focus,
.uk-subnav-pill > * > a:hover {
  background-color: #365a97 !important;
  color: #fff !important;
}
/* uk-subnav-pill END  --------------------------------- */
